* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Roboto Slab','Literata';
    color: #565453;
     background-image: url("../background-images/jr-korpa-lkgUfdbVqr4-unsplash.jpg");
}
header {
    grid-area: header;
    background-color: #ffffff;
    /* box-shadow: 15px 15px 10px grey; */
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
main {
    display: grid;
    /* grid-gap: 2em;
    grid-template-columns: 50px 3fr 7em 2fr 1fr;*/
    grid-area: main; 
    background-color: #ffffff;
    /* box-shadow: 15px 15px 10px grey; */
    padding: 20px 30px 20px 30px;

}
nav {
    grid-area: nav;
    padding: 20px;
    background-color: #ffffff;
    /* box-shadow: 15px 15px 10px grey; */
}
p {
    font-size: 16px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

p.main {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h1 {
    display: inline-flex
}

h4 {
    display: inline-flex
}

.sidebar a {
    display: block;
    font-size: 20px;
    width: 100%;
    color: black;
    margin-block-start: 0em;
    margin-block-end: 0em;
    /* padding: 16px 0px 16px 0px; */
    border: 15px solid white;
    text-decoration: none;
    /* line-height: 0em; */
    /* margin: 0; */
}
/* Active/current link */
.sidebar a.active {
    background-color: #1FC9DE;
    border: 15px solid #1FC9DE; 
    color: white;
}
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: rgb(141, 225, 236);
  border: 15px solid rgb(141, 225, 236); 

    color: white;
}
.right {
   float: right;
   text-align: right;
}
aside {
    grid-area: aside;
    justify-content: right;
    padding: 20px;
    background-color: #ffffff;
    /* box-shadow: 15px 15px 10px grey; */
}
footer {
    grid-area: footer;
    background-color: #ffffff;
    font-size: medium;
    /* box-shadow: 15px 15px 10px grey; */
    padding-right: 20px; 
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}
.band {
    display: inline-flex;
    /* vertical-align: middle; */
}
.wrapper_main {
    display: grid;
    grid-gap: 30px;
    padding: 25px;
    padding-right: 30px;
    padding-left: 30px;
    grid-template-columns:  300px 3fr 300px ;
    grid-template-rows: 10% auto 10%;
    grid-template-areas:
    " header header header  "
    " nav  main aside "
    " footer  footer footer  ";
}



.gallery {
    grid-area: gallery;
    border: 2px solid #1FC9DE;
    padding: 10px;
    height: 200px;
    width: 200px;
}
.gallery:hover {
    border-color: #06faee;
}
.projThumb {
    border: 2px solid #1FC9DE;
    padding: 10px;
    height: 310px;
    width: 100%;
}
.projThumb:hover {
    border-color: #06faee;
}
.box {
    height: 150px;
    border: solid;
    border-width: 1px;
}

@media screen and (max-width: 500px) {
    .wrapper {grid-template-columns: 4fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "gallery"
    "footer"}
    }
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}